In [1]:
from docxtpl import DocxTemplate
import pandas as pd
import numpy as np

df = pd.read_excel('reports.xlsx', header=0)
df

,Student,Class,Year,Literacy,Numeracy,Footnote_Literacy,Footnote_Numeracy
0,Cam,A,7,A,A,NaN,NaN
1,Lou,B,7,A,B,NaN,NaN
2,Devin,A,7,C,B,NaN,NaN
3,George,B,7,F,D,Needs to improve reading,NaN
4,Sarah,C,8,A,C,NaN,NaN
5,Allegra,C,8,A,A,NaN,NaN
6,Jessie,D,8,A,C,NaN,NaN
7,Bob,D,8,D,C,NaN,NaN
8,Homer,C,8,E,F,NaN,Needs to improve with calculus
9,Chris,D,8,B,B,NaN,NaN
10,Terry,C,8,F,B,NaN,NaN
11,Jim,E,9,C,B,NaN,NaN
12,Michael,E,9,C,A,NaN,NaN
13,Dwight,E,9,A,A,NaN,NaN
14,Toby,E,9,A,A,NaN,NaN

In [2]:
df = df.sort_values(by=['Class', 'Student'], ascending=[True, True])
df = df.reset_index(drop=True)
df

,Student,Class,Year,Literacy,Numeracy,Footnote_Literacy,Footnote_Numeracy
0,Cam,A,7,A,A,NaN,NaN
1,Devin,A,7,C,B,NaN,NaN
2,George,B,7,F,D,Needs to improve reading,NaN
3,Lou,B,7,A,B,NaN,NaN
4,Allegra,C,8,A,A,NaN,NaN
5,Homer,C,8,E,F,NaN,Needs to improve with calculus
6,Sarah,C,8,A,C,NaN,NaN
7,Terry,C,8,F,B,NaN,NaN
8,Bob,D,8,D,C,NaN,NaN
9,Chris,D,8,B,B,NaN,NaN
10,Jessie,D,8,A,C,NaN,NaN
11,Dwight,E,9,A,A,NaN,NaN
12,Jim,E,9,C,B,NaN,NaN
13,Michael,E,9,C,A,NaN,NaN
14,Toby,E,9,A,A,NaN,NaN

In [3]:
df.loc[(df['Literacy'] == 'F') & (df['Footnote_Literacy'].isna() )
       ,['Footnote_Literacy']] = 'Commentary explaining the grade is required but has yet to be provided by the teacher'
df.loc[(df['Numeracy'] == 'F') & (df['Footnote_Numeracy'].isna() )
       ,['Footnote_Numeracy']] = 'Commentary explaining the grade is required but has yet to be provided by the teacher'
df

,Student,Class,Year,Literacy,Numeracy,Footnote_Literacy,Footnote_Numeracy
0,Cam,A,7,A,A,NaN,NaN
1,Devin,A,7,C,B,NaN,NaN
2,George,B,7,F,D,Needs to improve reading,NaN
3,Lou,B,7,A,B,NaN,NaN
4,Allegra,C,8,A,A,NaN,NaN
5,Homer,C,8,E,F,NaN,Needs to improve with calculus
6,Sarah,C,8,A,C,NaN,NaN
7,Terry,C,8,F,B,Commentary explaining the grade is required bu...,NaN
8,Bob,D,8,D,C,NaN,NaN
9,Chris,D,8,B,B,NaN,NaN
10,Jessie,D,8,A,C,NaN,NaN
11,Dwight,E,9,A,A,NaN,NaN
12,Jim,E,9,C,B,NaN,NaN
13,Michael,E,9,C,A,NaN,NaN
14,Toby,E,9,A,A,NaN,NaN

In [4]:
df.columns

Index(['Student', 'Class', 'Year', 'Literacy', 'Numeracy', 'Footnote_Literacy',
       'Footnote_Numeracy'],
      dtype='object')

In [5]:
df1 = df[['Student', 'Class', 'Year', 'Literacy', 'Numeracy']]
df1 = df1.rename_axis('id').reset_index() 
df1['id'] = df1['id'].astype(str)
df1['id'] = df1['id'] + '.1'
df1['id'] = df1['id'].astype(float)
df2 = df[['Footnote_Literacy']]
df2 = df2.rename_axis('id').reset_index()
df2['id'] = df2['id'].astype(str)
df2['id'] = df2['id'] + '.2'
df2['id'] = df2['id'].astype(float)
df2 = df2.dropna() # because footnotes aren't always required there will typically be a number of na (a.k.a. blank cells) row which we can exclude with this line of code.
df2 = df2.rename(columns={'Footnote_Literacy': 'Student'})
df3 = df[['Footnote_Numeracy']]
df3 = df3.rename_axis('id').reset_index()
df3['id'] = df3['id'].astype(str)
df3['id'] = df3['id'] + '.2'
df3['id'] = df3['id'].astype(float)
df3 = df3.dropna() # because footnotes aren't always required there will typically be a number of na (a.k.a. blank cells) row which we can exclude with this line of code.
df3 = df3.rename(columns={'Footnote_Numeracy': 'Student'})
df = df1.append([df2, df3])
df = df.sort_index()
df = df.sort_values(by='id', ascending=True)
df = df.iloc[: , 1:]
df

C:\Users\vidur7c\AppData\Local\Temp\ipykernel_14156\1672344823.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append([df2, df3])

,Student,Class,Year,Literacy,Numeracy
0,Cam,A,7.0,A,A
1,Devin,A,7.0,C,B
2,George,B,7.0,F,D
2,Needs to improve reading,NaN,NaN,NaN,NaN
3,Lou,B,7.0,A,B
4,Allegra,C,8.0,A,A
5,Homer,C,8.0,E,F
5,Needs to improve with calculus,NaN,NaN,NaN,NaN
6,Sarah,C,8.0,A,C
7,Terry,C,8.0,F,B
7,Commentary explaining the grade is required bu...,NaN,NaN,NaN,NaN
8,Bob,D,8.0,D,C
9,Chris,D,8.0,B,B
10,Jessie,D,8.0,A,C
11,Dwight,E,9.0,A,A
12,Jim,E,9.0,C,B
13,Michael,E,9.0,C,A
14,Toby,E,9.0,A,A

In [6]:
df['Year'] = df['Year'].ffill()

In [7]:
df

,Student,Class,Year,Literacy,Numeracy
0,Cam,A,7.0,A,A
1,Devin,A,7.0,C,B
2,George,B,7.0,F,D
2,Needs to improve reading,NaN,7.0,NaN,NaN
3,Lou,B,7.0,A,B
4,Allegra,C,8.0,A,A
5,Homer,C,8.0,E,F
5,Needs to improve with calculus,NaN,8.0,NaN,NaN
6,Sarah,C,8.0,A,C
7,Terry,C,8.0,F,B
7,Commentary explaining the grade is required bu...,NaN,8.0,NaN,NaN
8,Bob,D,8.0,D,C
9,Chris,D,8.0,B,B
10,Jessie,D,8.0,A,C
11,Dwight,E,9.0,A,A
12,Jim,E,9.0,C,B
13,Michael,E,9.0,C,A
14,Toby,E,9.0,A,A

In [8]:
df['Year'] = df['Year'].astype(int)

In [9]:
columns = df.columns.to_list()
for column in columns:
    try:
        df[column] = df[column].astype(str)
    except:
        continue
df

,Student,Class,Year,Literacy,Numeracy
0,Cam,A,7,A,A
1,Devin,A,7,C,B
2,George,B,7,F,D
2,Needs to improve reading,nan,7,nan,nan
3,Lou,B,7,A,B
4,Allegra,C,8,A,A
5,Homer,C,8,E,F
5,Needs to improve with calculus,nan,8,nan,nan
6,Sarah,C,8,A,C
7,Terry,C,8,F,B
7,Commentary explaining the grade is required bu...,nan,8,nan,nan
8,Bob,D,8,D,C
9,Chris,D,8,B,B
10,Jessie,D,8,A,C
11,Dwight,E,9,A,A
12,Jim,E,9,C,B
13,Michael,E,9,C,A
14,Toby,E,9,A,A

In [10]:
years = df['Year'].unique().tolist()
years

['7', '8', '9']

In [11]:
#for each output create list
for year in years:
    subdf = df[df['Year'] == year]
    subdfTblRows = []
    students = subdf['Student'].tolist()
    literacy = subdf['Literacy'].tolist()
    literacy = [element.replace('nan', '') for element in literacy]
    numeracy = subdf['Numeracy'].tolist()
    numeracy  = [element.replace('nan', '') for element in numeracy ]
    class_name = subdf['Class'].tolist()
    class_name  = [element.replace('nan', '') for element in class_name ]
    for (a, b, c, d) in zip(students, literacy, numeracy, class_name):
        subdfTblRows.append({"student": str(a), 
                             "literacy": str(b), 
                             "numeracy": str(c), 
                             "class": str(d)} )
    # Enter outputs for individual departments here. Script will save output as TblRows if naming conventions match
    if year == '7':
        year_seven_TblRows = subdfTblRows
    elif year == '8':
        year_eight_TblRows = subdfTblRows
    elif year == '9':
        year_nine_TblRows = subdfTblRows
    else:
        print('not found' + year)

# Enter tables created in section above here.
context = {
"year_seven_TblRows": year_seven_TblRows,
"year_eight_TblRows": year_eight_TblRows,
"year_nine_TblRows": year_nine_TblRows
}

#load and render word document
doc = DocxTemplate("report_template.docx")
doc.render(context)

# save under new name
reportWordPath = 'generated_report.docx'
doc.save(reportWordPath)